  
/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700');
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
}
body {
    font-family: 'Raleway', sans-serif;
    color: #888888;
    line-height: 1.7;
}
a:hover { text-decoration: none }
ul,ol{margin:0;padding:0;list-style-type: none;}



/*Main CSS Of Class:   */
/* Chrome older version e animation support koranor jonno: http://pleeease.io/play/ theke filtered kore nebo...   */


.main-menu ul {
  text-align: right;
}
.main-menu ul li {
  display: inline-block;
  /* padding: 17px 50px;
  padding-right: 30px;
  padding-right: 0; */
}
.single-slide-item {
  background: #263238;
  color: #fff;
}
.single-slide-item h2 {
  color: #e3aa34;
  font-size: 45px;
  font-weight: 100;
}


.slider-img img {
  position: absolute;
  bottom: 0;
  right: 15px;
  max-height: 530px;
  max-width: 400px;
}
.slide-info { padding: 170px 0;}
.single-slide-item row {
  min-height: 500px;
}
.single-slide-item .row {position: relative;}
.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 15px 0;
}
.logo img {
  max-height: 60px;
}
.bordered-btn {
  display: inline-block;
  border: 1px solid;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 15px;
  opacity: .8;
  transition: .2s;
}
.bordered-btn svg { margin-left: 5px; transition: all .3s linear;}
.bordered-btn:hover{color: #fff; opacity: 1;}
.bordered-btn:hover svg{margin-left: 15px}
.main-menu ul li a {
    color: #fff;
    display: block;
    padding: 17px 50px;
    padding-right: 0;
}

.homepage-slides .owl-dots button {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}
.homepage-slides .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}
.homepage-slides .owl-dots button.active {
  background: #e3aa34;
}